table{
    border-collapse: collapse;
    border-width: 1px;
    margin: auto;
    display: table;
    border-style: solid;

}
   
td{
    padding: 10px;
    border-style: solid;
    text-align: center;
    border-color: #ccff02;
    color: #ffffff;
    font-family:'Quicksand', sans-serif;
    font-weight: lighter;
}

th {
    padding: 10px;
    border-style: solid;
    background-color:#ccff02;
    border-color: #ccff02;
    color: #1d1d1d;
    font-family:'Quicksand', sans-serif;
    font-weight: bold;
}

header{
    background-color: #ccff02;
    padding: 10px;
    text-align: center;
    color: #1d1d1d;
    font-family:'Quicksand', sans-serif;
}

.bg{
    background-color: #1d1d1d;
}

footer{
    background-color: #ccff02;
    padding: 10px;
    text-align: center;
    color: #1d1d1d;
    font-family:'Quicksand', sans-serif;
}